:root {
  --default-background: rgba(0,0,0,0.85);
  --default-foreground: whitesmoke;
  --accent-color-1: orange;
  --accent-color-2: blanchedalmond
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
.App {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}
.search-bar {
    display: grid;
    grid-gap: 15px;
    align-items: center;
    justify-content: center;
}
.form {
  display: grid;
  grid-template-columns: 1fr 35px;
  column-gap: 15px;
  align-items: center;
}
.hide {
  display: none;
}
.search-box {
  padding: 10px;
  font-size: 1.1em;
  border-radius: 30px;
  border: none;
  outline: none;
  width: 100%;
  background-color: var(--accent-color-1);
  box-shadow: 0px 0px 15px var(--accent-color-1);
  font-family: "Open Sans", sans-serif;
  color: var(--default-foreground);

  &::placeholder {
    color: var(--default-foreground);
  }
}
.search-submit-btn {
  outline: none;
  border: none;
  background: none;
  background-color: var(--accent-color-1);
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px var(--accent-color-1);

  i {
    position: relative;
    &::before {
      color: var(--default-foreground);
      font-size: 1.5em;
      width: 25px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.search-menu {
    color: antiquewhite;
    list-style: none;
    display: grid;
    border-radius: 10px;
    grid-template-rows: repeat(auto-fill, 50px);
    grid-gap: 5px;
    height: 300px;
    max-width: 300px;
    overflow-y: auto;
    background-color: var(--accent-color-2);
    padding: 10px;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    li {
        font-size: 1.1em;
        background-color: var(--default-background);
        padding: 5px;
        border-radius: 5px;
        height: 50px;
        font-family: "Roboto", sans-serif;
        transition: box-shadow 200ms ease-in-out;
        cursor: pointer;
        &:hover {
          transition: box-shadow 200ms ease-in-out;
          box-shadow:0 0 10px var(--default-background);
        }
        a {
          color: var(--accent-color-1);
          text-decoration: none;
        }
        p {
          font-size: smaller;
          font-weight: bold;
          font-family: "calibri", sans-serif;
        }
    }
}